{#
/**
 * @file display a single page.
 */
#}
{# {{ kint(_context) }} #}
<header class="header">
	<nav class="navbar navbar-default" role="navigation">
    <div class="container">
      
      {% if page.header %}
        <div class="topbar">
          {{ page.header }}
        </div>
      {% endif %}

      <div class="navbar-header">
        <div class="navbar-branding">
          <a class="navbar-logo" href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
            <img alt="{{ 'site logo'|t }}" title="{{ 'Home'|t }}" src="{{ logo }}" />
          </a>
          {% if site_name %}
            {{ site_name }}
          {% endif %}
          {% if site_slogan %}
            <div class="slogan">
              {{ site_slogan }}
            </div>
          {% endif %}
        </div>

        {% if page.nav %}
          <div class="main-nav">
            {{ page.nav }}
          </div>
        {% endif %}

      </div>
    </div>
  </nav>
</header>
<div id="main-content" >
  {% if page.content.reputed8_breadcrumbs %}
    {{ page.content.reputed8_breadcrumbs }}
  {% endif %}
  
  {% if messages %}
    <div id="messages">
      <div class="contain">
        {{ messages }}
      </div>
    </div>
  {% endif %}
  
  {% if tabs %}
      <nav class="tabs" role="navigation">
          {{ tabs }}
      </nav>
  
  {% endif %}
  
  {{ page.help }}
  
  {% if action_links %}
      <ul class="action-links">
          {{ action_links }}
      </ul>
  {% endif %} 

  <main class="content" role="main">
    {% if title %}
      <h1 class="page-title">
        {{ title }}
      </h1>
    {% endif %}
    {{ page.content | without('reputed8_breadcrumbs') }}
  </main> 
</div>
{% if page.aside_1 %}
  <aside class="side-section-1">
    {{ page.aside_1 }}
  </aside>
{% endif %}
{% if page.aside_2 %}
  <aside class="side-section-2">
    {{ page.aside_2 }}
  </aside>
{% endif %}
<footer class="footer">
  {{ page.footer }}
</footer>
